# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT
version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
    day: sunday
    time: "09:00"
    timezone: Europe/Paris
  groups:
    github-actions:
      patterns:
        - "*"
