Pods
Podfile.lock
NextcloudTalk.xcodeproj/xcuserdata
NextcloudTalk.xcodeproj/xcshareddata
NextcloudTalk.xcworkspace/xcuserdata
NextcloudTalk.xcworkspace/xcshareddata
ThirdParty/WebRTC.xcframework
.DS_Store
