# SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: GPL-3.0-or-later
Pods
Podfile.lock
NextcloudTalk.xcodeproj/xcuserdata
NextcloudTalk.xcodeproj/xcshareddata
NextcloudTalk.xcworkspace/xcuserdata
NextcloudTalk.xcworkspace/xcshareddata
ThirdParty/WebRTC.xcframework
.DS_Store
testResult.xcresult
dictionary.dic
DerivedData
build
